<!--
  Generated template for the MyCart page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Cart - R$ {{ cart.total }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of cart.itens">
      {{ item.name }} - R$ {{ item.value }}
    </ion-item>
  </ion-list>
  <button ion-button (click)="goToCheckout()">Finalizar compra</button>
</ion-content>
