<!--
  Generated template for the Login page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="user.email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="user.password" required></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button full type="button" (click)="login()">Login</button>
</ion-content>
