<!--
  Generated template for the ProductDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Product Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="product">
    <ion-card-content>
      <ion-card-title>{{ product.name }}</ion-card-title>
      <p>R$ {{ product.value }}</p>
      <p>{{ product.description }}</p>
    </ion-card-content>
  </ion-card>
  <button ion-button full type="button" (click)="addToCart()">Comprar</button>
</ion-content>
